﻿
@model Product

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>
<p>Цена <strong>@Model.Price</strong></p>
<h1>@Model.Description</h1>
<!--post - это итерация по ней автоматически входить нельзя-->
<form action="@Url.Action("AddItem", "Order")" method="post">
    <input type ="hidden" name="id" value="@Model.Id" />
    <button class="btn btn-success" type="submit">В корзину</button>
</form>